
body {
   background-color: turquoise; 
}
h1 {
   color: red;
}
h3 {
   color: gold;
}
p, h1, h2, h3{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#minhafoto {
    float: left;
    height: 380px;
    padding: 10px;
    background-color: brown;
}


.image {
    height: 400px;
}

.meunome {
    text-align: center;
}




    




div {
border: 2px solid blue;
   }
   
   
   